html {
  margin: 0px;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
}

header {
  background-color: pink;
  padding: 5px;
  color: darkslategrey;
  font-family: 'Luminari', fantasy;
}

footer {
  background-color: rgb(255, 215, 222);
  padding: 2px;
}

h2 {
  text-align: center;
  width: 100%;
}

.footerText {
  text-align: center;
  width: 100%;
}

#gameDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  position: relative;
  margin: auto;
  background-color: black;
  display: flex;
  padding: 0px;
  width: 320px;
  height: 320px;
}

#main {
  background-color: antiquewhite;
  padding: 25px;
}

.cell {
  background-color: antiquewhite;
  display: inline-block;
  width: 100px;
  height: 100px;
}