html {
  margin: 0px;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
}

header {
  background-color: lightblue;
  padding: 5px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

footer {
  background-color: rgb(193, 236, 250);
  padding: 2px;
}

h2 {
  text-align: center;
  width: 100%;
}

.footerText {
  text-align: center;
  width: 100%;
}

#gameDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  position: relative;
  margin: auto;
  background-color: black;
  display: flex;
  padding: 0px;
  width: 320px;
  height: 320px;
}

#main {
  background-color: beige;
  padding: 25px;
  min-height: calc(100vh - 181.83px);
}

.cell {
  background-color: beige;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.cellText {
  font-size: 55px;
  width: 100%;
  text-align: center;
  margin-top: 21px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  width: 150px;
  margin-top: 10px;
  background-color: azure;
  border-radius: 3px;
  padding: 2px;
}

button:hover {
  background-color: aliceblue;
  border-color: blue;
}

#buttonsDiv {
  position: absolute;
  width: 150px;
  left: 25px;
  top: 100px;
}